{{ define "main" }}
    <header class="content__header">
        {{ .Content }}
    </header>
<img style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" src='https://avatars.githubusercontent.com/u/58876962' alt='pfp' width='120'>
<p>
As much as I try to live an aesthetic life like <a href="https://github.com/catppuccin/">catppuccin</a>, 
it becomes complex like <a href="https://github.com/morhetz/gruvbox/">gruvbox</a>. 
And the self of me always chooses to live a simple life like <a href="https://ethanschoonover.com/solarized/">solarized</a>.
</p>
{{ end }}

